@page "/"

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="fw-bold lh-1 text-muted">C# DISCORD UTILITY BOT</p>
            <h1 class="display-4 fw-bold lh-1">Prevent Discord with Accord.</h1>
            <p class="lead">An open source C# Discord utility bot with XP, moderation and general housekeeping capabilities. Aimed at being simple, effective and concise, the codebase offers opportunity for quick iterations to combat any issue.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" href="https://github.com/patrickklaeren/accord" target="_blank">Contribute on GitHub</a>
                <a class="btn btn-outline-secondary btn-lg px-4" href="https://discord.gg/csharp" target="_blank">Join discord.gg/csharp</a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="bootstrap-docs.png" alt="" width="720">
        </div>
    </div>
</div>