@page "/not-enrolled"
@attribute [Authorize]

<div class="container my-5 text-center">
            <h1 class="display-4 fw-bold lh-1">Hmm, looks like there's a problem.</h1>
    <p class="lead mt-3">Currently Accord only serves the C# Discord Guild. It is intended for single guild usage due to the nature of guild-tuned specifics. 
        Which is fancy terminology for, Accord gets the work done for the C# guild. This website allows users of the guild to see, manage and overview Accord, but since you're not part of the guild, there's nothing
        to see here.</p>
</div>