name: PR Build

on:
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'branding/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'

    - name: Build with dotnet
      run: dotnet build --configuration Release

    - name: dotnet publish
      run: dotnet publish src/Accord.Web/Accord.Web.csproj -c Release -o ${{env.DOTNET_ROOT}}/myapp